.left-col {
    @include breakpoint(768px) {
        margin: 0 20px;
    }
    @include breakpoint(960px) {
        @include span(5 of 12);
        margin-left: span(1);
    }
}

.right-col {
    @include breakpoint(960px) {
        margin-right: span(1);
        @include span(5 last of 12);
    }
}

.definitions {
    @include breakpoint(768px) {
        margin: 0 20px;
    }
    @include breakpoint(960px) {
        @include span(5 of 12);
        margin-left: span(1);
    }
}

.definitions ol {
    margin-top: 20px;
    margin-left: 40px;
}

.origins {
    @include breakpoint(960px) {
        margin-right: span(1);
        @include span(5 last of 12);
    }
    h3 {
        margin: 1em 0;
    }
    ul {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        display: table;
        li {
            display: table-row;
        }
    }
}

.skill-label,
.stars {
    display: table-cell;
}

.stars {
    padding-left: 10px;
}

.fa-star-o {
    color: #ccc;
}

.fa-download {
    font-size: 30px;
    margin-right: 10px;
    vertical-align: sub;
    color: #ccc;
}

.resume a {
    display: inline-block;
    padding: 5px;
    font-family: $oswald;
    font-weight: 100;
    font-size: 20px;
}

.resume:hover {
    .fa-download {
        color: $mainColor;
        transition: color 400ms ease;
    }
}

.pretty-box {
    border: 1px solid rgba(204, 204, 204, 0.47);
    padding: 7px;
    background: white;
}