header {
    background-color: transparent;
    font-weight: 300;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(9,14,55,0.05);
}

.site-title {
    @extend %brand-text;
    margin: 0;
    display: inline-block;
    a {
        color: rgba($mainColor, 1);
        text-decoration: none;
        &:before {
            content: "ML";
            color: #2098b7;
            display: inline-block;
            line-height: 1.7em;
            font-weight: 700;
            letter-spacing: -0.26em;
            margin-right: 20px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

nav.share-my-work {
    @include span(last);
    ul li {
      display: inline-block;
        a {
            &:before {
                @extend %fa;
                margin-right: 5px;
                color: $mainColor;
                font-size: 30px;
                line-height: 55px;
            }
            &:visited {
                &:before {
                    color: $mainColor;
                }
            }
            &:hover {
                &:before {
                    color: $mainColor;
                }
            }
        }
        .mygithub {
            margin-right: 5px;
            @extend %text-hide;
            &:before {
                content: "\f113";
            }
        }
        .mycodepen {
            @extend %text-hide;
            &:before {
                content: "\f1cb";
            }
        }
        .mylinkedin {
            margin-right: 5px;
            @extend %text-hide;
            &:before {
                content: "\f0e1";
            }
        }
    }
}
