.work {
    clear: both;
    ul {
        list-style: none;
        li.work-item {
            padding: 0.5em;
            box-shadow: 0px 0px 3px #ccc;
            opacity: 0.8;
            @include breakpoint(420px) {
                @include gallery(6 of 12);
            }
            @include breakpoint(768px) {
                @include gallery(4 of 12);
            }
            &:hover {
                transition: all 200ms ease-in;
                background-color: white;
                transform: scale(1.05);
                opacity: 1;
            }
            margin-bottom: 30px;
            img {
                display: block;
                padding: 20px;
            }
        }
    }
}

.work-item > a {
    display: block;
    border-bottom: 1px solid rgba(204, 204, 204, 0.47);
    &:hover {
        border-bottom: 1px solid $secondaryColor;
;    }
}

p.work-label {
    margin: 0;
    text-align: center;
    line-height: 1.2em;
    height: 45px;
}

.work-details {
    ul {
        @include breakpoint(320px) {
            padding: 0 1em;
        }
        padding: 0 2em;
    }
    i { margin-right: 10px; }
    a {
        font-weight: 100;
        font-family: $oswald;
        text-decoration: none;
    }
}

.wordpress:before {
    @extend %fa;
    margin-right: 10px;
    content: "\f19a";
}

.github:before {
    @extend %fa;
    margin-right: 10px;
    content: "\f09b";
}

.code:before {
    @extend %fa;
    margin-right: 10px;
    content: "\f121";
}

.drupal:before {
    @extend %fa;
    margin-right: 10px;
    content: "\f1a9";
}

.employer:before {
    @extend %fa;
    margin-right: 10px;
    content: "\f0b1";
}
