.site-title {
  @extend %brand-text;
  margin: 0;
  display: inline-block;
  a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    &:hover {
      font-size: 1.3em;
      color: rgba(255, 255, 255, 1);
      text-decoration: underline;
      -webkit-transition: color 400ms ease, font-size 400ms ease;
      transition:         color 400ms ease, font-size 400ms ease;
    }
  }
}