// font-family: 'Crimson Text', serif;
// font-family: $oswald;

//URL FOR ITALIC SERIF FONT
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic);

.site-title {
  @extend %brand-text;
  margin: 0;
  display: inline-block;
  a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    &:hover {
      font-size: 1.3em;
      color: rgba(255, 255, 255, 1);
      text-decoration: underline;
      -webkit-transition: color 400ms ease, font-size 400ms ease;
      transition:         color 400ms ease, font-size 400ms ease;
    }
  }
}

.section-title {
    text-align: center;
    padding: 20px 0 20px;
    margin-bottom: 50px;

    font-weight: 300;
    font-size: 26px;
    line-height: 1.8em;
    color: #090e37;
    letter-spacing: 0.5px;
    border-radius: 3px;
    border-bottom: 1px solid #2098b7;
}