%horizontalnav {
  ul li {
    float: left;
  }
}
%striplist {
  list-style: none;
}

%fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.strip-margin-padding {
  margin: 0;
  padding: 0;
}

%strip-margin-padding {
  margin: 0;
  padding: 0;
}

%brand-text {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
%text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}