%fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

%horizontalnav {
    ul li {
        float: left;
    }
}

%striplist {
    list-style: none;
}

%strip-margin-padding {
    margin: 0;
    padding: 0;
}

%brand-text {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

%hide-on-mobile {
  @include breakpoint(max-width 420px) {
    display: none;
  }
}
%text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.bounceIn {
  animation-duration: .75s;
}

