
<div class="magalielinda">
	<div class="overlay">
		<div class="hero-container">

			<h2 class="hero--title animated fadeInDownBig"><i class="fa fa-times" aria-hidden="true"></i> Hi! I am Magalie Linda <i class="fa fa-times" aria-hidden="true"></i></h2>
    		<div class="profile-picture">
        		<img src="images/me-thumbnail.jpg" alt="Magalie Linda's Profile Picture">
    		</div>
			<p class="intro-text">I am a front-end developer. <br> My main passion is UX based on story telling and also clean, tidy HTML and CSS. </p>
    		<div class="cta-buttons">
                <a class="cta-button first" href="#mywork">My Work.</a>
                <a class="cta-button second" href="#mywork">Costs.</a>
                <a class="cta-button third" href="#aboutme">About Me.</a>
            </div>

    	</div>
	</div>
</div>