<section class="aboutme">
	<h2>FREELANCE FRONT-END DESIGNER</h2>
	<p>My CV is at the <a href="#here">bottom of the page</a></p>
	<p>I am a hybrid of a designer, copywriter and a developer. I have made themes for WordPress and Drupal. I have written content for websites and I have designed some ads and features.</p>
	<p>My main objective is to learn and grow, to have fun and to connect on an authentic level. For some clients I am a consultant, others ask me to work with them to refactor their css. Also, I do workshops. Big or small projects are not an issue, as long as we all have a good time. My clients include Intel, TamTam and smaller startups. </p>
	<p>I believe in a good front-end architecture. No matter what technique you use, a browser will always end up rendering HTML and CSS. Having a good front-end architecture ensures the continuity in your project or your business. It would be a shame if you have to spend more time in restructuring and refactoring than actually progressing in your project.</p>

	<p>Other stuff you can talk to me about:</p>
		<ul class="content-list">
			<li>Gulp/Grunt (I prefer to use codekit)</li>
			<li>Bower, NPM, Jade, etc.</li>
			<li>Git</li>
			<li>Command Line</li>
			<li>Sass/Less</li>
			<li>PHP</li>
			<li>WordPress Theming (not Plugins)</li>
			<li>Drupal Theming (not Plugins)</li>
			<li>Animations in CSS</li>
			<li>Responsive (I prefer Susy Grid)</li>
			<li>Accessibility</li>
			<li>Photoshop</li>
			<li>Semantic HTML</li>
			<li>Concepting</li>
			<li>Jira, Scrum/Agile</li>
		</ul>
	<h2>WHAT YOU SHOULD NOT HIRE ME FOR</h2>
	<p>I do not know about AngularJS or any other javascript framework.</p>
</section>

<section class="work">
	<h2>PROJECTS I'VE WORKED ON</h2>
	<ul class="content-list">
		<li class="project"><a href="http://gem-online.nl">Gem Online</a> - <a href="http://limoengroen.nl">LimoenGroen Amsterdam</a></li>
		<li class="project"><a href="#">Fotomuseum Den Haag</a> - <a href="http://limoengroen.nl">LimoenGroen Amsterdam</a></li>
		<li class="project"><a href="https://www.historischcentrumoverijssel.nl/">Historisch Centrum Overijssel</a> - <a href="http://limoengroen.nl">LimoenGroen Amsterdam</a></li>
		<li class="project"><a href="http://freepressunlimited.org/nl">Free Press Unlimited</a> - <a href="http://limoengroen.nl">LimoenGroen Amsterdam</a></li>
		<li class="project"><a href="http://sumedia.nl">Sumedia</a> - <a href="http://sumedia.nl">Sumedia Arnhem</a></li>
		<li class="project"><a href="http://hetblauweuur.nl">Het Blauwe Uur</a> - <a href="het Blauwe Uur">Commissioned</a></li>
		<li class="project"><a href="http://WebDesignWill.io">WebDesignWill</a> - <a href="http://WebDesignWill.io">WebDesignWill</a></li>
		<li class="project"><a href="http://www.oxxio.nl/">Oxxio Campagne</a> - <a href="http://tamtam.nl">TamTam Amsterdam</a></li>
		<li class="project"><a href="http://deltalloyd.nl">Delta Lloyd Campagne</a> - <a href="http://tamtam.nl">TamTam Amsterdam</a></li>
		<li class="project"><a href="http://generali.nl">Generali (Accessibility)</a> - <a href="http://tamtam.nl">TamTam Amsterdam</a></li>
		<li class="project"><a href="http://21dimes.nl">North Sea Jazz Campagne: 21Dimes</a> - <a href="http://tamtam.nl">TamTam Amsterdam</a></li>
	</ul>
</section>

<section id="here" class="cvdetails">
	<h2>RECENT CV</h2>
	<a class="cv" href="CV-MagalieLinda.pdf" alt="Magalie Linda CV">
		<span class="cv--label"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
		<span class="cv--document">CV in PDF</span>
	</a>
	<a class="cv" href="CV-MagalieLinda.docx" alt="Magalie Linda CV">
		<span class="cv--label"><i class="fa fa-file-text" aria-hidden="true"></i></span>
		<span class="cv--document">CV in DOCX</span>
	</a>
	<small>Tip: email me -- I do not pick up the phone or listen to voicemail.</small>
</section>