 <!-- Loops through "work items" array --> 
 <section id="mywork" class="work container">
    <h2 class="section-title">Some of my recent work</h2>
    <ul>
  {% for item in workitem %}
	<li class="work-item">
	    <a href="{{ item.link }}">
	        <img src="{{ item.img }}">
	        <p class="work-label">Free Press Unlimited.</p>
	    </a>
	    <div class="work-details">
	        <ul>
	            <li class="drupal"><a href="http://drupal.org">Drupal 7</a></li>
	            <li class="code"><a href="http://sass-lang.com/">Sass</a>+<a href="http://susy.readthedocs.org/en/latest/">Susy Grid</a></li>
	            <li class="employer"><a href="http://limoengroen.nl">@LimoenGroen.nl - Amsterdam</a></li>
	        </ul>
	    </div>
	</li>

  {% endfor %}

      </ul>
</section>