<!-- index.njk -->
{% extends "templates/layout.njk" %}

{% block content %} 

	{% include "templates/partials/header.njk" %}
	<main class="container">
		{% include "templates/partials/main.njk" %}
	</main>
{% include "templates/partials/footer.njk" %}
{% endblock %}