<!-- index.njk -->
{% extends "templates/layout.njk" %}

{% block content %} 

	{% include "templates/partials/header.njk" %}
	<main>
		{% include "templates/partials/hero.njk" %}
		{% include "templates/partials/work-items.njk" %}
	</main>

{% endblock %}