<!-- index.njk -->
{% extends "templates/layout.njk" %}

{% block content %} 

	<div class="container">
		{% include "templates/partials/header.njk" %}
		
		{% include "templates/partials/main.njk" %}
		{% include "templates/partials/footer.njk" %}
	</div>
{% endblock %}